.payment-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.payment-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

#payment-form label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

#payment-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#payment-form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2a00e7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3

}
footer {
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
    margin-top: auto;
}

body {
    min-height: 100vh; /* Garante que o corpo da página tenha altura suficiente para empurrar o footer para baixo */
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Faz o conteúdo principal ocupar todo o espaço disponível, empurrando o footer para o fundo */
}
